body {
    background-color: #abd6f1;
    color: white !important;
}

#mainContainer {
    background-color: #0B8AD9;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    border-radius: 0.15em;
}

.adjust-button {
    /*background-color: #123273;*/
    margin-top: 5px;
    margin-bottom: 5px;
}

.adjust-center {
    text-align: center;
}

.adjust-left {
    text-align: left;
}

.text-logo {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-decoration: none;
    color: #F2F2F2;
}

.firstColor {
    color: #F2F2F2;
}

.firstColor:hover {
    color: #F2F2F2;
    text-decoration: none;
}

.secondColor {
    color: #F2F2F2;
}

.adjust-button {
    background-color: #012623;
}

.container {
    padding: 0 120px;
}

.selCollege {
    padding: 100%;
}

.btn-primary {
    background-color: #0A31A6 !important;
    border-color: #0A31A6 !important;
}

.btn-primary:hover {
    background-color: #0A31A6 !important;
}