body{
    background-color: #F2F2F2 !important;
}

#homeContainer{
    background-color: #F2F2F2;
    margin-top: 20px;
    padding-right: 0;
    padding-left: 60px;
}


#homeContainer2{
    background-color: #abd6f1;
    margin-bottom: 40px;
    padding: 5px 30px;
    color: #3b3f3f;
}

.home-title{
    color: black !important;
    font-size: 20px !important;
    margin-left: 0 !important;
}

.home-logo{
    margin: 5px 30px;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    text-decoration: none !important;
    color: #F2F2F2;
}

.hoverLogo:hover{
    color: #4C736F !important;
    text-decoration: none !important;
}

#groupTitle{
    margin-top: 40px !important;
    text-align: left;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.btnSignout{
    background-color: white !important;
    border-radius: 0.5em !important;
    color: #0A31A6 !important;
}

.btn-light2 {
    color: #F2F2F2;
    background-color: #D98673;
}

.btn-light2:hover {
    color: #F2F2F2 !important;
}

.btn-logout{
    color: #F2F2F2;
    background-color: #4C736F !important;
}

.btn-logout:hover {
    text-decoration: none !important;
    color: lightgrey;
}

.cardHome{
    color: #012623;
    background-color: #4C736F;
    margin: 40px 0;
    border-radius: 0.5em;
}

.card-header{
    background-color: #0A31A6 !important;
    color: #F2F2F2 !important;
}

.card-body{
    background-color: #F2F2F2 !important;
}

.card-footer{
    background-color: #0A31A6 !important;
    color: #F2F2F2 !important;
}

.goVacant {
    color: #F2F2F2;
    background-color: #012623;
    border-color: #F2F2F2;
}

.navbar{
    background-color: #0A31A6 !important;
    color: white !important; 
}

.cardVacancies {
    background-color: #abd6f1 !important;
}

.btn-info{
    background-color: #0A31A6 !important;
    border-color: none !important;
}

.btn-primary{
    background-color: #0A31A6 !important;
    border-color: none !important;
    color: #F2F2F2 !important;
}

.btn-primary:hover{
    background-color: #0B8AD9 !important;
    color: black !important;
}

.titlePosts{
    margin-top: 20px !important;
    color: black !important;
}