body{
    background-color: #4C736F !important;
}

#homeContainer{
    background-color: #F2F2F2;
    margin-top: 20px;
    padding-right: 0;
    padding-left: 60px;
}

#homeContainer2{
    background-color: #D9D9D9;
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 40px 80px;
    color: #012623;
    border-radius: .35rem;
}

.adjust-color-navbar{
    background-color: #012623 !important;
}

.home-logo{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    text-decoration: none !important;
    color: #F2F2F2;
}

.hoverLogo:hover{
    color: #4C736F !important;
    text-decoration: none !important;
}

.home-title{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    text-decoration: none !important;
    color:#012623;
}

.home-container{
    padding: 0 15px;
}

.btn-light {
    color: #0D0D0D;
    background-color: #F2F2F2 !important;
    border-color: #0D0D0D !important;
}


.btn-light2 {
    color: #F2F2F2;
    background-color: #D98673;
}

.btn-light2:hover {
    color: #F2F2F2 !important;
}

.btn-logout{
    color: #F2F2F2;
    background-color: #4C736F !important;
}

.btn-logout:hover {
    text-decoration: none !important;
    color: lightgrey;
}

.cardHome{
    color: #012623;
    margin: 30px 30px;
    background-color: #D9D9D9;
    border-radius: .35rem;
}

.goVacant {
    color: #F2F2F2;
    background-color: #012623;
    border-color: #F2F2F2;
}