body {
    background-color: #F2F2F2 !important;
}

#homeContainer {
    background-color: #F2F2F2;
    margin-top: 20px;
    padding-right: 0;
    padding-left: 60px;
}

#homeContainer2 {
    background-color: #abd6f1;
    margin-bottom: 40px;
    padding: 5px 30px;
    color: #3b3f3f;
}

.home-title {
    color: black !important;
    font-size: 20px !important;
    margin-left: 0 !important;
}

.home-logo {
    margin: 5px 30px;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    text-decoration: none !important;
    color: #F2F2F2;
}

.hoverLogo:hover {
    color: #abd6f1 !important;
    text-decoration: none !important;
}

#groupTitle {
    margin-top: 40px !important;
    text-align: left;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.btnSignout {
    background-color: white !important;
    border-radius: 0.5em !important;
    color: #0A31A6 !important;
}

.btnCreate {
    background-color: #021a63 !important;
    border-radius: 0.5em !important;
    color: white !important;
    margin-right: 10px !important;
}

.btnCreate2 {
    background-color: #0A31A6 !important;
    border-radius: 0.5em !important;
    color: white !important;
    margin-right: 10px !important;
}

.notify {
    margin-right: 20px !important;
}

.notifyIcon {
    width: 20px !important;
    height: 20px !important;
    margin-bottom: 2px !important;
    fill: white !important;
}

.btn-light2 {
    color: #F2F2F2;
    background-color: #D98673;
}

.btn-light2:hover {
    color: #F2F2F2 !important;
}

#btn-logout {
    color: #F2F2F2 !important;
    background-color: #4C736F !important;
}

#btn-logout:hover {
    text-decoration: none !important;
    color: lightgrey;
}

.cardHome {
    color: #012623;
    background-color: #4C736F;
    margin: 40px 0;
    border-radius: 0.5em;
}

.card-header {
    background-color: #0A31A6 !important;
    color: #F2F2F2 !important;
}

.card-body {
    background-color: #F2F2F2 !important;
}

.card-footer {
    background-color: #0A31A6 !important;
    color: #F2F2F2 !important;
}

.goVacant {
    color: #F2F2F2;
    background-color: #012623;
    border-color: #F2F2F2;
}

.navbar {
    background-color: #0A31A6 !important;
    color: white !important;
}

.btn-info {
    background-color: #0A31A6 !important;
    border-color: none !important;
}

.btn-primary {
    background-color: #0A31A6 !important;
    border-color: none !important;
    color: #F2F2F2 !important;
}

.btn-primary:hover {
    background-color: #0A31A6 !important;
    color: #F2F2F2 !important;
}

.btnNew {
    margin-top: 40px !important;
}

.titleP {
    margin: 20px 0 0 !important;
}

.jumbotron {
    margin: 80px 0!important;
}

.list-group {
    margin-top: 40px !important;
}

.checkboxInput {
    margin-right: 10px !important;
}

.menuPost {
    width: 80% !important;
}

.modal-content {
    color: black !important;
}

.btn-outline-primary {
    color: #0A31A6 !important;
    border-color: #0A31A6 !important;
}

.btn-outline-primary:hover {
    background-color: #0A31A6 !important;
    color: white !important;
}

.mt-sm-0,
.my-sm-0 {
    margin-top: 10px !important;
}