body {
    margin: 0;
    padding: 0;
    background-color: #D9D7D7;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    text-align: center;
}

/*Index*/
.index-box {
    align-items: center;
    display: flex;
    background: #123273;
    height: 50px;
    position: fixed;
    padding: 0px 10px;
    top: 0;
    left: 0;
    right: 0;
  }

  .index-box .Logo{
    position: relative;
    padding: 0 63vw   0 2vw;
  }

  .index-box .Logo a{
    margin: 0px!important;
    padding: 0px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-decoration: none;
    color: #eeeeee;
  }

  .index-box .login{
    position: relative;
    padding: 0 2vw 0 0;    
  }

  .index-box .login a{
    margin: 0px!important;
    padding: 0px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    color:#eeeeee;
    border-radius:10px;
    background-color: #3F77BF;
    border-color: #007bff;  
  }

  .index-box .signup{
    position: relative;
  }

  .index-box .signup a{
    margin: 0px!important;
    padding: 0px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    color:#eeeeee;
    border-radius:10px;
    background-color: #3F77BF;
    border-color: #007bff;  
  }

  /* General */

body {
  margin: 0;
  padding: 0;
  background-color: #123273;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  text-align: center;
}

/*Login*/
.login-box {
  width: 350px;
  height: 450px;
  background: #D9D7D7;
  color: #000000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 50px 30px;
}

.login-box .Logo {
  margin: 0px!important;
  padding: 0px;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 42px;
  text-decoration: none;
  color:black;
}

.login-box h2 {
  margin: 0;
  padding: 20px 0 20px;
  text-align: left;
  font-size: 22px;
}
  
.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  text-align: left;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
  margin: 7px;
}

.input-login {
  border: none;
  border-bottom: 1px solid #123273;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #123273;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #1760BF;
  color: #fff;
}

.button-signup{
  border: none;
  outline: none;
  height: 40px;
  width: 100%;
  background: #123273;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}

.button-signup:hover {
  cursor: pointer;
  background: #1760BF;
  color: #fff;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: rgb(85, 85, 85);
}

.login-box a:hover {
  color: black;
}

/*signup*/
.signup-box {
  width: 350px;
  height: 780px;
  background: #D9D7D7;
  color: #000000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 100px 30px;
}

.signup-box .Logo {
  margin: 0px !important;
  padding: 50px 0 0;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 42px;
  text-decoration: none;
  color:black;
}

.signup-box h2 {
  margin: 0;
  padding: 20px 0 10px;
  text-align: left;
  font-size: 22px;
}
  
.signup-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  text-align: left;
}

.signup-box input {
  width: 100%;
  margin-bottom: 20px;
}

.input-signup {
  border: none;
  border-bottom: 1px solid #123273;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16px;
}

.signup-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #123273;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
}

.signup-box input[type="submit"]:hover {
  cursor: pointer;
  background: #1760BF;
  color: #000;
}

.signup-box a {
  text-decoration: none;
  padding: 0px;
  font-size: 12px;
  line-height: 20px;
  color: rgb(85, 85, 85);
}

.signup-box a:hover {
  color: black;
}

/*Recovery*/
.recovery-box {
  width: 350px;
  height: 500px;
  background: #D9D7D7;
  color: #000000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 50px 30px;
}

.recovery-box .Logo {
  margin: 0px!important;
  padding: 0px;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 42px;
  text-decoration: none;
  color:black;
}

.recovery-box h2 {
  margin: 0;
  padding: 20px 0 20px;
  text-align: left;
  font-size: 22px;
}
  
.recovery-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  text-align: left;
}

.recovery-box input {
  width: 100%;
  margin-bottom: 20px;
}

.input-login {
  border: none;
  border-bottom: 1px solid #123273;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16px;
}

.recovery-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #123273;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
}

.recovery-box input[type="submit"]:hover {
  cursor: pointer;
  background: #1760BF;
  color: #000;
}

.recovery-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: rgb(85, 85, 85);
  margin:20px;
}

.recovery-box a:hover {
  color: black;
}


/*feed*/
.input-feed{
    outline: none;
    padding: 5px;
    width: 200px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;
    display: inline;
}

#id-crecion{
  background-color: #333;
  border: 10px solid rgb(59, 67, 180);
  height: 20em;
  width: 30em;
}

.input-pass-feed{
    padding: 10px;
    color: #fff;
    background: #32627b;
    width: 100px;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}