<div class="modal fade" id="ventana1">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h3>prueba</h3>
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <!-- content -->
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime eligendi vel officiis saepe! Quia harum delectus perferendis, impedit quas rerum animi et? Adipisci distinctio ullam tempora ipsa, natus consequuntur iusto!</p>
            </div>
            <!-- footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">cerrar</button>
            </div>
        </div>
    </div>
</div>